#jinja2:lstrip_blocks: True
[client]
remote_addr = "{{ rathole_server_ip }}:2333" # The address of the server. The port must be the same with the port in `server.bind_addr`

{% for service in rathole_services %}

[client.services.{{ service.name }}]
token = "{{ rathole_secret }}"
local_addr = "{{ service.local_addr }}"
{% endfor %}
