#jinja2:lstrip_blocks: True
# server.toml

[server]
bind_addr = "{{ rathole_server_ip }}:2333" # Bind to this address

{% for service in rathole_services %}


[server.services.{{ service.name }}]
token = "{{ rathole_secret }}"
bind_addr = "{{ service.bind_addr }}"
{% endfor %}
