#jinja2:lstrip_blocks: True
{

    security {
        oauth identity provider main {
			realm generic
			driver generic
			client_id {env.GENERIC_CLIENT_ID}
			client_secret {env.GENERIC_CLIENT_SECRET}
			scopes openid email profile
			base_auth_url https://sso.moonpiedumpl.ing/application/o/caddy/
			metadata_url https://sso.moonpiedumpl.ing/application/o/caddy/.well-known/openid-configuration
		}
        authentication portal myportal {
			crypto default token lifetime 3600
			crypto key sign-verify {env.JWT_SHARED_KEY}
			enable identity provider generic
			cookie domain sso.moonpiedumpl.ing

			transform user {
				match realm generic
				action add role authp/user
				ui link "File Server" https://assetq.myfiosgateway.com:8443/ icon "las la-star"
			}

			transform user {
				match realm generic
				match email greenpau@contoso.com
				action add role authp/admin
			}
		}
    }
    http_port {{ caddy_http_port }}
    https_port {{ caddy_https_port }}
    servers {
        {% if caddy_trusted_proxies | length > 0 %}
        trusted_proxies static {{ caddy_trusted_proxies | join(' ') }}
        {% endif %}
    }
    email {{ email_address }}
    
    auto_https {{ caddy_auto_https }}


    {% if caddy_debug %}
    debug
    {% endif %}
    
}
{% for service in caddy_services %}
{{ service.domain_name }} {
    {% if service.port is defined %}
    reverse_proxy http://127.0.0.1:{{ service.port }}
    {% if service.request_body is defined %}
    request_body {
        max_size 2048MB
    }
    {% endif %}
    {% endif %}
    {% if service.file_root is defined %}
    root * {{ service.file_root }}
    file_server
    {% endif %}
    
    tls {
        issuer acme {
            alt_http_port {{ caddy_http_port }}
            alt_tlsalpn_port {{ caddy_https_port }}
        }
    }
}
{% endfor %}