#jinja2:lstrip_blocks: True
{

    http_port {{ caddy_http_port }}
    https_port {{ caddy_https_port }}
    servers {
        {% if caddy_trusted_proxies | length > 0 %}
        trusted_proxies static {{ caddy_trusted_proxies | join(' ') }}
        {% endif %}
    }
    email {{ email_address }}
    
    auto_https {{ caddy_auto_https }}


    {% if caddy_debug %}
    debug
    {% endif %}
    
}
{% for service in caddy_services %}
{{ service.domain_name }} {
    {% if service.address is defined %}
    reverse_proxy {{ service.address }}
    {% if service.request_body is defined %}
    request_body {
        max_size 2048MB
    }
    {% endif %}
    {% endif %}
    {% if service.file_root is defined %}
    root * {{ service.file_root }}
    file_server
    {% endif %}
    
    tls {
        issuer acme {
            alt_http_port {{ caddy_http_port }}
            alt_tlsalpn_port {{ caddy_https_port }}
        }
    }
}
{% endfor %}