# server.toml
[server]
bind_addr = "10.10.11.1:2333" # Bind to wireguard

[server.services.http]
token = "{{ rathole_secret }}" # Token that is used to authenticate the client for the service. Change to a arbitrary value.
bind_addr = "0.0.0.0:80"

[server.services.httpd]
token = "{{ rathole_secret }}"
bind_addr = "0.0.0.0:443"
